@import '_mixins';
@import '_reset';
@import '_variables';


.body{
    background-color: $shadeGray;
}

.container{
    background-color: $shadeblue;
}

// nav elements
.nav-header{
    position: relative;
}

// ConsTeacker
.nav-brand {
    top: 20px;
    position: relative;
    padding-left: 36px;
    font-size: 20px;
    color: #fff;
    min-height: 50px;
    padding-top: 15px;
    line-height: 20px;
}

// Line List
.nav-toggle{
    position: absolute;
    right: 20px;
    top: 31px;
}

// Div table
.navbar-redirect{
    position: relative;
    top: -25px;
    left: 160px;
}

// List
.navCenter-line{
    list-style: none;
    font-size: 20px;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    
}

