/*@mixin text-styling($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }*/
html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 967px;
}

.main-nav-bar {
  height: 50px;
}

.main-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

body {
  background-color: #c2a454;
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.second-nav-bar {
  position: relative;
  background-color: #dfb135;
  color: #fff;
  padding: 20px;
  width: 90%;
  float: right;
  right: 0px;
}

.sec-nav-h1 {
  color: black;
  text-align: center;
}

.main-body {
  position: relative;
  top: 100px;
  left: 10%;
  width: 520px;
  height: 620px;
}

.general-table {
  height: 591px;
  width: 484px;
  position: relative;
  right: -42%;
  top: 20px;
  border-radius: 5px;
  background-color: #272525;
  padding: 5px;
  display: none;
}

.input-td {
  width: 50%;
}

#tr-main {
  color: white;
}

.rdo-tr {
  background-color: #333;
  color: white;
}

.display-table {
  display: table;
}
