// mixins = reusable code block

/*@mixin text-styling($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }*/